<header>
    <div class="container" *ngIf="token">
        <a href="/" class="log-out" (click)="logout()">Sair</a>
        <ul class="menu">
            <li>
                <a href="#" > Necessidades </a>
                <ul class="sub-menu">
                    <li><a href="" [routerLink]="'/cadastro-necessidade'" *ngIf="role == 'entidade'">Cadastrar</a></li>
                    <li><a href="" [routerLink]="'/listar-necessidade'" >Listar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>