<header>
    <div class="container">
        <ul class="menu">
            <li>
                <a href="voluntario" [routerLink]="'/voluntario'">
                    Voluntário
                </a>
            </li>
            <li>
                <a href="entidade" [routerLink]="'/entidade'">
                    Entidades
                </a>
            </li>
            <li>
                <a href="#">
                    Necessidades
                </a>
            </li>
        </ul>
    </div>
</header>