<div class="main">
    <div class="container">
        <div class="wrapper">
            <h1 class="title">Trocar senha</h1>
            <div class="login-wrapper">
                <form class="contact" [formGroup]="resetFormGroup">
                    <mat-form-field class="full-width" *ngIf="!tokenRecebido"> 
                        <mat-label><mat-icon>email</mat-icon> Email</mat-label>
                        <input matInput formControlName="email"
                        type="email" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="errorHandling('email', 'required')">
                            O e-mail é <strong>obrigatório</strong>
                        </mat-error>
                        <mat-error *ngIf="errorHandling('email', 'email') && !errorHandling('email', 'required')">
                            Insira um e-mail <strong>válido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" *ngIf="tokenRecebido"> 
                        <mat-label><mat-icon>https</mat-icon> Nova senha</mat-label>
                        <input matInput formControlName="senha" [errorStateMatcher]="matcher" type="password">
                        <mat-error *ngIf="errorHandling('senha', 'required')">
                            A senha é <strong>obrigatória</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" *ngIf="tokenRecebido">
                        <mat-label><mat-icon>https</mat-icon> Token</mat-label>
                        <input matInput formControlName="token" [errorStateMatcher]="matcher" type="text">
                        <mat-error *ngIf="errorHandling('senha', 'required')">
                            A senha é <strong>obrigatória</strong>
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="!tokenRecebido" class="send" (click)="sendEmail()">Enviar token</button>
                    <button *ngIf="tokenRecebido" class="send" (click)="trocarSenha()">Trocar senha</button>
                </form>
                <div class="links">
                    <button (click)="recebiToken()">Já recebi o token</button>
                </div>
            </div>
        </div>
    </div>
</div>