<app-header></app-header>
<div class="main">
    <div class="container">
        <h1 class="title">Lista de candidaturas</h1>

        <ng-container *ngIf="necessities.length == 0">
            <h2 class="necessity-name">Não há nenhuma necessidade atualmente</h2>
        </ng-container>
        <div class="wrapper" >
            <div class="necessities-wrapper">
                <ng-container  *ngFor="let necessity of necessities">
                    <div class="necessity" *ngIf="necessity.status != false">
                            <div>
                                <h3 class="name">{{ necessity.nome }}</h3>
                                <p class="email">{{ necessity.tipo_voluntariado }}</p>
                                <p class="address">{{ necessity.descricao }}</p>
                                <a href="#" class="more-information" (click)="openMoreInfo(necessity.id, $event)">Finalizar necessidade</a>
                            </div>
                    </div>
                </ng-container>
                <div class="finished">
                    <h2 class="necessity-name">Finalizadas</h2>
                    <ng-container  *ngFor="let necessity of necessities">
                                <div class="necessity" *ngIf="necessity.status == false">
                                <div>
                                    <h3 class="name">{{ necessity.nome }}</h3>
                                    <p class="email">{{ necessity.tipo_voluntariado }}</p>
                                    <p class="address">{{ necessity.descricao }}</p>
                                    <p class="address">{{ necessity.feedback }}</p>
                                </div>
                            </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>