.main {
    position: relative;
    background: url('../../../assets/img/login-background.jpg');
    background-size: cover;
    height: 100vh;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .7);
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 11;
        
        .wrapper {
            width: 300px;
            margin: 0 auto;

            .title {
                font-size: 30px;
                font-weight: 500;
                color: white;
                text-align: center;
            }

            .login-wrapper {
                background-color: white;
                border-radius: 10px;
                padding: 20px 30px;
                box-shadow: 0px 0px 5px black;

                .full-width {
                    width: 100%;
                }

                .send {
                    color: white;
                    display: block;
                    font-size: 16px;
                    background: linear-gradient(to right, #7676ab, #17174b);
                    padding: 5px 30px;
                    border-radius: 15px;
                    margin: 0 auto;
                    margin-top: 10px;
                    background-size: 160% 100%;
                    transition: all .4s ease-in-out;
                    

                    &:hover {
                        background-position: 100% 0;
                    }
                }
            }
        }
    }
}