.main {
    .title {
        text-align: center;
        margin: 20px 0;
        font-size: 30px;
        color: #424242;
    }

    .form-container {
        animation: fadeInUp .7s;
        width: 50%;
        display: block;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #cecece;

        @media (max-width: 768px) {
            width: 100%;
        }

        .full-width {
            width: 100%;
        }

        .half-width {
            width: 47%;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
        }

        .send {
            display: block;
            margin: 0 auto;
            color: white;
            padding: 10px 35px;
            border-radius: 15px;
            box-shadow: 2px 2px 6px grey;
            background-color: #17174b;
            transition: .3s all;

            &:hover {
                box-shadow: none;
                transform: translateY(-1px);
            }

            &:disabled {
                background-color: grey;

                &:hover {
                    box-shadow: 2px 2px 6px grey;
                    transform: none;
                }
            }
        }
    }

}


.date {
    display: flex;
    justify-content: center;

    .first-input {
        margin-right: 20px;
    }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }