<!DOCTYPE html>
<html lang="en">
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="home" [routerLink]="'/home'">Voluntarixs</a></h1>
				<nav id="nav">
					<ul>
						<li><a hhref="login" [routerLink]="'/login'">Entrar</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Bem vido ao portal do voluntario</h2>
				<p>Seja um voluntario ou uma ong que faz a diferença, nós te ajudaremos nisso!</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Saiba mais</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Conheça nossos serviços</h2>
						<p>Um pouco sobre o que ofereçemos para você.</p>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-clock-o"></i>
							<p>Plataforma disponivel a todo momento para encontrar sua causa a qualquer horario e local.</p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-camera-retro"></i>
							<p>Causas que são indicadas para o seu perfil, encontramos as causas mais proximas a você.</p>
						</section>
						<section class="4u 12u$(small)"> 
							<i class="icon big rounded fa-user"></i>
							<p>Temos mais de 200 voluntarios na nossa platorma que estão disponiveis para atender necessidades de diversas naturezas.</p>
						</section>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 align-center">
				<div class="container">
					<header>
						<h2>Veja as nossas ultimas Necessidades</h2>
						<p>Um pouco das causas que temos esperando por você.</p>
					</header>
					<div class="row">
						<div class="necessities-wrapper">
							<div class="necessity" *ngFor="let necessity of lastNecessities">
								<div class="wrapper">
									<h3 class="name">{{ necessity.nome }}</h3>
									<p class="type">{{ necessity.tipo_voluntariado }}</p>
									<p class="date" *ngIf="necessity.data_inicio"> <span>{{ necessity.data_inicio }}</span> à <span>{{ necessity.data_fim }}</span></p>
									<p class="address">{{ necessity.endereco }}</p>
								</div>
							</div>
						</div>
					</div>
					<header>
						<p>Um resumo das necessidades que foram encerradas.</p>
					</header>
					<app-dashboard></app-dashboard>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<section class="4u 6u(medium) 12u$(small)">
							<h3>Apoio</h3>
							<p><a href="" [routerLink]="'/doacoes'">Doe um valor para nos ajudar!</a></p>
						</section>
						<section class="4u 6u(medium) 12u$(small)">
							<h3>Criadores</h3>
							<p>Conheça nossos criadores</p>
							<ul class="alt">
								<li>Integrante 1</li>
								<li>Integrante 2</li>
								<li>Integrante 3</li>
								<li>Integrante 4</li>
							</ul>
						</section>
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contatos</h3>
							<ul class="icons">
								<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="tabular">
								<li>
									<h3>Endereço</h3>
									Rua da Felicidade, 458<br>
									São Paulo, Brasil
								</li>
								<li>
									<h3>email</h3>
									<a href="#">contato@voluntarixs.com.br</a>
								</li>
								<li>
									<h3>Telefone</h3>
									(11) 92000-0000
								</li>
							</ul>
						</section>
					</div>
					<ul class="copyright">
						<li>&copy; USJT. 2020.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
	</body>
</html>