@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html, body { 
    height: 100%; 
}

html {
    body {
        h1,h2,h3,h4,h5,h6,p,a,li,input,button {
            font-family: 'Montserrat', sans-serif !important;
        }
    }
}

body { 
    overflow-x: hidden;
    margin: 0; 

    .container {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 95%;
        padding-right: 30px;
        padding-left: 30px;
    }
}
